<h3>{{data.name}}</h3> //this component is for customizing the food
<mat-vertical-stepper [linear]="isLinear" #stepper>
  <ng-template  matStepperIcon="edit">
    <i class="material-icons">done</i>
  </ng-template>
  <mat-step *ngFor="let step of data.steps">
    <form>
          <ng-template matStepLabel>{{step.name}}</ng-template> 
          <label for="">{{step.description}}</label>
            <div class="container">
              <div class="row card-row">
                <mat-radio-group *ngIf="step.id !== data.steps.length"> //with radio group the user only has one option to select
                  <mat-radio-button *ngFor="let item of step.items" 
                              class="example-card m-auto"
                              (click)="pickCustom({food:data, itemStep:step, item:item})" 
                              value="{{item.name}}">

                    <mat-card>
                      <mat-card-header>
                        <mat-card-title>{{item.name}}</mat-card-title>
                      </mat-card-header>
                      <img mat-card-image class="image-item" src="{{item.image}}" alt="Photo of {{step.name}}">
                    </mat-card>
                  </mat-radio-button>
                </mat-radio-group>
                <section *ngIf="step.id === data.steps.length"> //with this checkbox the user has multiple options to select
                  <mat-checkbox *ngFor="let item of step.items" 
                  class="example-card m-auto"
                  [(ngModel)]="item.multiple" [ngModelOptions]="{standalone: true}">
                  <mat-card>
                      <mat-card-header>
                        <mat-card-title>{{item.name}}</mat-card-title>
                      </mat-card-header>
                      <img mat-card-image class="image-item" src="{{item.image}}" alt="Photo of {{step.name}}">
                    </mat-card>
                  </mat-checkbox>
                </section>
                </div>
              </div>
              <br>
            <button *ngIf="step.id !== data.steps.length" mat-raised-button matStepperNext 
                    color="primary">next</button>
            <div *ngIf="step.id === data.steps.length ">
                <button mat-raised-button color="primary" (click)="saveCustom()">Guardar</button>
            </div>        
          </form>
      </mat-step>
</mat-vertical-stepper>